@font-face {
    font-family: 'signikamedium';
    src: url('./assets/fonts/signika-medium-webfont.woff2') format('woff2'),
        url('./assets/fonts/signika-medium-webfont.woff') format('woff'),
        url('./assets/fonts/signika-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(214, 213, 213);
    font-family: 'signikamedium'
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container {
    max-width: 1280px;
    min-width: 200px;
    background-color: #fff;
}

.bg-cover {
    background-image: url("./assets/graduation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.disp-txt {
    font-size: calc(16px + 1.8vw);
}

.jumbotron-resize {
    min-height: 590px;
}

.quote-m {
    margin-right: 120px;
}

.min-width {
    min-width: 370px;
}

.row-resize {
    min-height: 400px;
}

.round {
    border-radius: 35px;
}

.btn-p {
    padding: 8px 120px;
}

/* new */

#new {
    background-color: #fff;
    min-width: 200px;
}

.borderless {
    border: 0;
}

.empty {
    width: 160px;
}

/* card */
.card-width {
    min-height: 400px;
}

.card-round {
    border-radius: 9px;
}

.card-color {
    background-color: #F4E6B5
}

.font {
    font-family: signikamedium;
}

.img-icon {
    background-color: #F4E6B5;
}

.bottom {
    position: absolute;
    bottom: 20px;
    left: 32px;
    right: 32px;
}

.pos-r{
    position: absolute;
    right: 20px;
}
.detail{
    display: none;
}

/* feedback */
.red{
    color: red;
}
.green {
    color: green;
}
.err{
    background-image: url('./assets/exclamation-mark.png');
    background-repeat: no-repeat;
    display: inline;
    height: 30px;
    width: 30px;
    background-size: contain;
    vertical-align: middle;
    line-height: normal;
}

@media all and (max-width:30em) {
    .btn-p {
        padding: 3px 26px;
    }

    .jumbotron-resize {
        min-height: 360px;
    }

    .img {
        display: none;
    }
}